body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}


.demo-2 .large-header {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)
	  ),url('../img/cold-environment.jpg');
	background-position: center bottom;
	opacity:0.9;
}


.header-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
}

.header-text h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    text-align: center;
    color: rgba(3, 0, 12, 0.8);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.2);
    margin-bottom: 0px;
}

.header-text h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(11, 8, 22);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.1),
        0px -5px 35px rgba(255, 255, 255, 0.1);
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #221f1f;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
    margin-left: 10px;
}

.social-icons a:first-child {
    margin-left: 0;
}

.social-icons a .fab {
    line-height: 40px;
}

.social-icons a:hover {
    background-color: rgb(16, 19, 24);
}

.arrow {
    margin: 8% 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.arrow-position {
    display: flex;
    justify-content: center;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.arrow a {
    text-decoration: none;
    color: rgb(11, 8, 22);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* about-me section*/

.about-me {
    width: 100vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 50%, #e8e9fc 100%);
}

.face-image {
    background-image: url('../img/photo.png');
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 35px;

}

.text-about-me {
    text-align: center;
    margin-top: -5px;
}

.tittle-section {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: rgb(53, 52, 52);
    font-weight: unset
}

.about-me-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 30px;
}

b {
    color: rgb(8, 2, 27);
}

/* Parallax section */
.parallax {
    width: 100vw;
    height: 520px;
    background-image: url('../img/parallax_image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-box {
    width: 80vw;
    height: 430px;
    border: 1px solid #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax-box-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.parallax-box h2 {
    color: rgb(245, 241, 241);
    text-align: center;
}

.parallax-box h2 hr {
    width: 80px;
    height: 1px;
    border: none;
    margin-top: 5px;
    background-color: #66CCFF;
}

.parallax-box-cnt {
    width: 95%;
    height: 180px;
    background-color: rgba(1, 0, 2, 0.2);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.parallax-box-cnt h3 {
    color: rgb(245, 241, 241);
    text-align: center;
    margin-top: 15px;
}

.parallax-box-cnt h3,
.parallax-box h2,
.parallax-box-cnt button {
    font-family: 'Montserrat', sans-serif;
}

.parallax-box-cnt button {
    width: 130px;
    height: 45px;
    background-color: rgba(0, 0, 0, .0);
    border: 1px solid #66CCFF;
    border-radius: 3px;
    color: rgb(245, 241, 241);
    transition: .5s;
    position: relative;
}

.parallax-box-cnt button:hover {
    background-color: #66CCFF;
    color: #66CCFF;

}

.parallax-box-cnt button:hover::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 1px;
    width: 27px;
    height: 27px;
    background-image: url('../img/arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: arrowAnimation .8s;
    z-index: 2;
}

@keyframes arrowAnimation {
    0% {
        left: 1px;
    }

    100% {
        left: 100px
    }
}

.parallax-box-techniques {
    margin-top: 0;
}

.parallax-box-projects {}

/*Skills*/
.main-skills {
    background-image: linear-gradient(#ffffff 0%, #e8e9fc 100%);
    display: flex;
    justify-content: center;
}

.skewed-bg {
    background: #e8e9fc;
    color: #FFF;
    padding: 2em;
    position: relative;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skewed-bg-last {
    background-image: linear-gradient(#e8e9fc 0%, #e8e9fc 80%, #ffffff 100%);
    color: #FFF;
    padding: 2em;
    position: relative;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-main-icon {
    width: 50px;
    height: 50px;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.skills-main-icon-front {
    background: rgb(9, 177, 154);
    border: 1px solid rgb(9, 177, 154);
}

.skills-main-icon-back {
    background: rgb(223, 120, 25);
    border: 1px solid rgb(223, 120, 25);
}

.skills-main-icon-fram {
    background: rgb(214, 61, 61);
    border: 1px solid rgb(214, 61, 61);
}

.skills-main-icon-other {
    background: rgb(46, 184, 194);
    border: 1px solid rgb(46, 184, 194);
}

.box-skills {
    display: flex;
    justify-content: center;
    margin-left: -100px;
}

.box-skills-f {
    margin-left: -27px;
}

.box-skills-i {
    margin-left: -150px;
}

.box-skills-b {
    margin-left: -104px;
}

.skills-tittle-text {
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(8, 9, 41);
}

.skills-tools-back-end {
    margin-left: -55px;
}

.skills-tools ul {
    margin-left: -75px;
    list-style: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(5, 2, 39);
    line-height: 34px;
    font-size: 20px;
}

.skills-tools-other ul {
    margin-left: -100px;
}

.ico {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.ico-photo {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.ico-photo-text {
    position: absolute;
    top: -4px;
    left: 42px;
}

.skewed-bg-back {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-back-end {
    display: flex;
    justify-content: center;
    margin-left: -100px;
    color: #fff;
    padding: 2em;

}

.horizontal-line {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    width: 70%;
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-top: 0;
    border-radius: 5px;
}

.front-color {
    background-color: rgb(9, 177, 154);
}

.back-color {
    background-color: rgb(223, 120, 25);
}

.libs-color {
    background-color: rgb(214, 61, 61);
}

.other-color {
    background-color: rgb(46, 184, 194);
}

/* projects*/

.tittle-section {
    text-align: center;
}

.project {
    width: 530px;
    height: 320px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    margin-right: -5px;
    display: flex;
    flex-direction: column;
}

.project:after {
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

/* images of projects  */
.mobile-image {
    width: 100vw;
    height: 100vw;
    max-height: 380px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: .4;
}
.project-description-bck{
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.13);

    /* margin-left: -3%; */
}

.technologies-cnt {
    width: 100vw;
    height: 75px;
    position: absolute;
    top: -70px;
    left: -45px;
}

.project-photos-desktop {
    display: none;
}

.project-photos-mobile {
    display: flex;
    flex-direction: column;
}

.hr-lines h2 {
    position: relative;
}

.hr-lines h2 hr {
    display: flex;
    width: 68px;
    height: 2px;
    border: none;
    border-radius: 20%;
    background: rgb(10, 15, 36);
    margin-top: 5px;
}

.project-1 {}

.project-1:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/noise-app-screen.jpg');
}

.project-1:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
}

.project-2 {}

.project-2:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/bit_bot_screen.jpg');
}

.project-2:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
}

.project-3 {}

.project-3:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/quiz-screen.jpg');
}

.project-3:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
}

.project-4 {}

.project-4:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/recipe-screen.jpg');
}

.project-4:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
}

.project-5 {}

.project-5:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/bmi-screen.jpg');
}

.project-5:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
    top: 0;
}

.project-6 {}

.project-6:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/crypto-screen.jpg');
}

.project-6:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
    top: 0;
}

.project-7 {}

.project-7:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('../img/app-screen/pizza-screen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.project-7:hover:after {
    content: '';
    cursor: pointer;
    opacity: .3;
    top: 0;
}

/* slider effect */
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.more-projects-section {
    display: flex;
    justify-content: center;
}

.button-load-more {
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(88, 84, 84);
    border-radius: 2px;
    margin-bottom: 50px;
    cursor: pointer;
    position: relative;
}

.button-load-more span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.button-load-more:hover {
    background-color: rgb(247, 247, 247);
}

.button-more-projects-line {
    width: 1px;
    height: 13px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.arrow-more-projects {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 18px;
    bottom: 14px;
}

.arrow-down {
    transform: rotate(45deg);
}

.arrow-up {
    transform: rotate(-135deg);
    bottom: 10px;
}

.additional-project {
    display: none;
}

.text-button {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 1.6px;
    color: #25242A;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.showMore {
    display: inline;
    animation: fadeIn 1s;
}


/* Reference */

.reference {
    text-align: center;
    display: none;
    justify-content: center;
}

.reference a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #221f1f;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
    margin-left: 10px;
    margin-top: 240px;
}

.reference a:first-child {
    margin-left: 0;
}

.reference a .fab,
.reference a .fas {
    line-height: 40px;
}

.reference a:hover {
    background-color: rgb(16, 19, 24);
}

.project-description {
    display: none;
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: center;
}

.project-description p,
.project-description h2 {
    color: rgb(8, 9, 41);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.project-description h2 {
    padding-bottom: -48px;
}

.project-description ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: -40px;
    margin-top: 10px;
}

.project-description ul li {
    margin-right: 15px;
    margin-top: 7px;
}

.project-description ul li:last-child {
    margin-right: 0px;
}

.project-description ul li img {
    width: 38px;
    height: 38px;
}

.contact-section {
    margin-top: 10px;
    width: 100%;
    background-color: #25242A;
}

.footer-link-cnt {
    display: flex;
}

.footer-link-cnt:first-child {
    padding-right: 45px;
    display: none;
}

.footer-link:first-child {
    margin-right: 10px;
}

.footer-link a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #221f1f;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
    margin-bottom: 24px;
}

.footer-link a .fab,
.footer-link a .fas {
    line-height: 40px;
}

.footer-link a:hover {
    background-color: rgb(16, 19, 24);
}

.personel-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personel-data-name {
    color: #fff;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.contact-text {
    color: #fff;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: -20px;
}

.contact-data {
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

.contact-data .fas {
    margin-right: 9px;
}

.contact-data .far {
    margin-right: 12px;
}

.contact-phone {
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

.contact-email {
    font-family: 'Rubik', sans-serif;
}

/* Contact form */
.contact-form {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(253, 253, 253);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h3 {
    text-align: center;
    color: #23333D;
    margin-bottom: 35px;
    font-family: 'Rubik', sans-serif;
}

.contact-form input,
.contact-form textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #D9D9D9;
    width: 290px;
    height: 50px;
}

.contact-form label {
    color: rgb(110, 110, 110);
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.msg-field {
    margin-bottom: 17px;
}

::placeholder {
    color: rgb(158, 158, 158);
}

.form-btn {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 240px;
    height: 50px;
    background-color: #25242A;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    border: none;
}

.form-btn:hover {
    background-color: rgb(25, 24, 29);
}

.personel-data-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright-cnt {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cv {
    margin-top: 50px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.cv a {
    color: #fff;
}

.cv-ico {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.rwd-list-other {
    margin-right: -39px;
}

.projects-3x {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.projects-2x {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}



/* Swiper */
/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 22, 2019
 */

 .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 30px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 40px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transform: scale(.33);
    -ms-transform: scale(.33);
    transform: scale(.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(.66);
    -ms-transform: scale(.66);
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(.33);
    -ms-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(.66);
    -ms-transform: scale(.66);
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(.33);
    -ms-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #25242A
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: .2s top, .2s -webkit-transform;
    transition: .2s top, .2s -webkit-transform;
    -o-transition: .2s transform, .2s top;
    transition: .2s transform, .2s top;
    transition: .2s transform, .2s top, .2s -webkit-transform
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: .2s left, .2s -webkit-transform;
    transition: .2s left, .2s -webkit-transform;
    -o-transition: .2s transform, .2s left;
    transition: .2s transform, .2s left;
    transition: .2s transform, .2s left, .2s -webkit-transform
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: .2s right, .2s -webkit-transform;
    transition: .2s right, .2s -webkit-transform;
    -o-transition: .2s transform, .2s right;
    transition: .2s transform, .2s right;
    transition: .2s transform, .2s right, .2s -webkit-transform
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, .25)
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, .25)
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-flip {
    overflow: visible
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px
}


@media only screen and (max-width: 350px) {
    .project-description h2{
        margin-bottom: 10px;
    }
    .project-description-bck{

        /* margin-left: -3%; */
    }
}
@media only screen and (min-width: 900px) {
    .project-description h2{
        margin-bottom: 30px;
    }
    .project-photos-desktop {
        display: inline;
    }

    .project-photos-mobile {
        display: none
    }

    .contact-form {
        width: 35%;
        border-radius: 3px;
        margin-left: 120px;
    }

    .personel-data {
        flex-direction: row;
        justify-content: center;
    }

    .contact-data {
        margin-left: 160px;
    }

    .cv {
        margin-left: 28px;
    }

    .skills-tools .rwd-list {
        display: flex;
    }

    .rwd-list-first-child {
        margin-right: 50px;
    }

    .rwd-list-other {
        margin-right: -195px;
    }

    .rwd-list-front {
        margin-right: -166px;
    }

   
    .projects-3x {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projects-2x {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .project {
        border-radius: 8px;
        margin: 5px;
    }
}

@media only screen and (min-width:1150px) {
    .contact-form {
        margin-left: 280px;
    }
}

@media only screen and (max-width:560px) {
    .personel-data-cnt {
        margin-left: -30px;
    }
    .project-description-bck{
        margin-left: -8%;
    }
}


@media only screen and (min-width:660px) {
    .parallax {
        width: 100vw;
        height: 420px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .parallax-box-main-section {
        margin-top: 55px;
        margin-bottom: 60px;
        flex-direction: row;
        justify-content: space-between;
    }

    .parallax-box-techniques {
        margin-right: 20px;
        margin-top: 0;
    }

    .parallax-box-projects {
        margin-top: 0;
    }

    .parallax-box {
        width: 80vw;
        height: 330px;
    }
}